  * {
  box-sizing: border-box;
}

.circle{
  height: 30px; 
  width:  30px; 
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  background-color: rgb(152, 111, 11);
}

.arrow{
  display: block;
  margin: 30px auto;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-top: 10px solid rgb(152, 111, 11);
  border-left: 10px solid rgb(152, 111, 11);
   transform: rotate(225deg);
}
.arrow::after{
  content: "";
  display: block;
  width: 12px;
  height: 55px;
  background-color: rgb(152, 111, 11);
  transform: rotate(-45deg) translate(16px, 4px);
  left: 0;
  top: 0;
}

